.project {
  min-height: 100%;
}

.btn {
  color: white;
  width: 20%;
}

.btn:hover {
  color: #101820ff;
  box-shadow: rgba(0, 0, 0, 0.63) 0px 19px 38px,
    rgba(0, 0, 0, 0.596) 0px 15px 12px;
}

.fab {
  font-size: 1em;
}

.text {
  color: white;
  font-size: 1.2em;
  background-color: #101820ff;
  width: 25%;
  padding: 4px;
  font-weight: 600;
  text-align: center;
  border-radius: 2px;
}

@media screen and (max-width: 450px) {
  .btn {
    width: 150px;
  }

  .text {
    width: 100%;
  }
}
