.resume-button {
  width: 50%;
  height: 8%;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  color: white;
  position: relative;
  top: 10px;
  font-weight: 650;
  padding: 1em;
  position: relative;
  transition: all 0.45s ease-Out;
}

.resume-button a {
  color: black;
}

.resumeOuter {
  color: white;
  font-weight: 600;
  background-color: #101820ff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 3em;
}

.resume-button:hover {
  background-color: #101820ff;
  color: white;
  cursor: pointer;
}

.resume-button a:hover {
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .resume-button {
    width: 20%;
  }
}
