.navbar {
  color: white;
  margin-bottom: 3.5em;
  background-color: #101820ff;
}

.pages {
  margin: 15px;
  font-size: 22px;
  font-weight: 650;
  color: white;
}

.name {
  color: white;
  padding: 20px;
  font-size: 2em;
  font-weight: 630;
}

@media screen and (min-width: 450px) {
  .name {
    font-size: 3em;
  }
}

@media screen and (min-width: 799px) {
  .pages {
    position: relative;
  }
}

@media screen and (min-width: 1000px) {
  .pages {
    position: relative;
    left: 10rem;
  }
}

@media screen and (min-width: 1300px) {
  .navbar {
    font-size: 1em;
  }
}

@media screen and (min-width: 1500px) {
  .pages {
    position: relative;
    left: 32rem;
  }
}

@media screen and (min-width: 1600px) {
  .pages {
    position: relative;
    left: 35rem;
  }
}
