.wrapper {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}
.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.top-title {
  font-weight: 800;
  font-size: 4em;
}

@media screen and (max-width: 360px) {
  .top-title {
    font-size: 3em;
    text-align: center;
  }
}
