.body {
  background: linear-gradient(-45deg, #451a58, #3d3fc8, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: #101820ff;
  min-height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (min-height: 2000px) {
  .body {
    min-height: 100%;
  }
}
